@{ ViewData["Title"] = "Home"; }

<!-----hero banner--->
<section class="hero text-left py-3">
    <div class="container"#>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="banner-text">
                    <h2>Welcome to the Dashboard, Nanmi!</h2>
                <p class="lead">An advanced health management system that provides 
                    seamless interaction between patients and healthcare providers.</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-12">
                <div class="banner-image">
                    <img class="img-fluid" src="images/banner-image.png" alt="banner image"/>
                </div>
            </div>
        </div>
    </div>
        
</section>
<!-----hero banner--->